h1{
 background-color: darkturquoise;
color: black;
}

h2{
    background-color: black;
color: aliceblue;
}

p{
    background-color: rgb(7, 207, 74);

}

.paragrafo2{
    background-color: blue;

}

#paragrafo1{
    background-color: deeppink;
    font-size: 60px;
}

pre{
    background-color: aquamarine;
    color:black;
    font-size: 60px;
    text-align:  center;
    height: 99px;
}